/* My custom CSS styles for slide presentations. */

.reveal {
  font-family: "Arial", sans-serif;
  font-size: 28pt;
  font-weight: normal;
  color: #000; 
}

.reveal pre {
  box-shadow: none;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: block;
  text-align: left;
  margin: 0 1em 0 1em; 
}

.reveal .slides {
  border: 1px solid black;
}

.reveal .slides section .fragment {
  opacity: 0;
  visibility: hidden;
  transition: all 0.0s ease;   /* Instantaneous transition. */
}

.reveal .slides section .fragment.visible {
  opacity: 1;
  visibility: inherit; 
}

.reveal .slides h1 {
  text-align: center;
  font-size: 56pt;
  font-family: Gill Sans MT, Gill Sans, Calibri, sans-serif;
  color: #4f271c;
  margin-bottom: 0.5em;
}

.reveal .slides h2 {
  text-align: center;
  font-size: 48pt;
  font-family: Arial;
}

.reveal p {
  padding-left: 40px;
  padding-right: 40px;
}

.reveal .slides p,
.reveal .slides li {
  font-family: Arial;
}

.reveal .slides ul li ul li {
  margin-left: 0pt;
}

.reveal .slides ul li ul li {
  font-size: 24pt;
}

.reveal .slides h1 code {
  font-size: 44pt;
  background-color: #e0e0e0;
}

.reveal .slides code {
  font-family: monospace;
 }

.reveal .slides code {
  font-size: 24pt;
}

.reveal .slides code.larger {
  font-size: 28pt;
}

.reveal .slides code.smaller {
  font-size: 20pt;
}

.reveal .slides pre code {
  font-size: 20pt;
}

.reveal .slides .larger pre code {
  font-size: 24pt;
}

.reveal .slides .smaller pre code {
  font-size: 18pt;
}

.reveal .slides p code,
.reveal .slides li code {
  color: blue;
  background-color: #f0f0f0;
  padding-left: 10px;
  padding-right: 10px;
}

.reveal .slides pre code {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  line-height: 140%;
}

.reveal .slides ul {
  list-style-type: none;
}

.reveal .slides ul li::before {
  content: "\2022";
  color: #3891a7;
  padding-right: 20px;
}

.reveal .slides ul li {
  font-family: arial;
  text-indent: -33px;
  margin-left: 33px;
}

.reveal .slides ul li.code::before {
  content: none;
  padding-right: 20px;
}

.reveal .slides ul li pre {
  text-indent: 0px;
  width: 100%;
}

.reveal .slides ul li ul li::before {
  content: "\25aa";
  color: #3891a7;
  padding-right: 20px;
}

.reveal .slides ul li ul li ul li::before {
  content: "\25e6";
  color: #3891a7;
  padding-right: 20px;
}

.reveal .slides section {
  text-align: left;
}


