/* MCV: My new reveal.js styles. */

.reveal {
  font-family: "Arial", sans-serif;
  font-size: 28pt;
  font-weight: normal;
  color: #000; 
}

.reveal .slide-number {
  background: white;
  /* border: 1px solid black; */
}

.reveal .slide-number-a {
  background: white;
  color: black;
  font-size: 24px;
}

.reveal .slides h1 {
  text-align: center;
  text-transform: none;
  padding: 150px 0 20px 0;
  font-size: 64pt;
  font-family: Gill Sans MT, Gill Sans, Calibri, sans-serif;
  font-weight: normal;
  color: #4f271c;
  background: #d0d0f0;
  margin-bottom: 0.5em;
}

.reveal h2 { 
  text-transform: none;
  font-family: Gill Sans MT, Gill Sans, Calibri, sans-serif !important;
  /* text-shadow: 2px 2px 3px #a0a0a0; */
  color: #4f271c !important;
  font-size: 60pt !important;
  font-weight: normal !important;
  /* background: #d0d0d0; */
  width: 80% !important;
  margin-left: 10%;
}

/* First level bullet color. */
.reveal .slides ul li::marker {
  color: #3891a7;
}

/* Second level bullet spacing. */
.reveal .slides ul li ul {
  margin-top: 0px;
}

.reveal .slides li {
  margin-top: 10px;
}

/* Second level bullet color. */
.reveal .slides ul li ul li::marker {
  color: #3891a7;
}

.reveal li {
  font-size: 36pt !important;
}

.reveal li ul li {
  font-size: 32pt !important;
}

.reveal ul {
  width: 80% !important;
  text-align: left !important;
}

.katex-display > .katex {
  color: #0040b0 !important;
}

.katex-display > .katex > .katex-html > .tag {
  color: #808080 !important;
  margin-right: 100px !important;
}

.katex > .katex-html {
  color: #0040b0 !important;
  padding-left: 5px;
  padding-right: 5px;
}

.katex {
  font-size: 1.1em !important;
}

.reveal pre {
  margin-left: 200px !important;
  width: 75% !important;
  font-size: 24pt !important;
}

.reveal pre.smaller {
  font-size: 20pt !important;
}

.reveal code {
  color: #0040b0 !important;
  font-size: 90%;
}

.reveal li ul li code {
  font-size: 80%;
}

