/* Customizations to the ReadTheDocs theme. */
 
body {
  /* background-color: #efefe0; */
  /* Default fonts: */
  /* Lato,proxima-nova,Helvetica Neue,Arial,sans-serif; */
  /* For serif fonts: */
  /* font-family:"Noto Serif", "DejaVu Serif", serif; */
}

div.document {
  /* background-color: #efefe0; */
}

.wy-body-for-nav {
  /* background-color: #efefe0; !important */
  background-color: #e4e4e4;
}

/* Sidebar. */
.wy-nav-side {
  /* background-color: #343131; */ /* default */
  /* background-color: #545141; */
  /* background-color: #484848; */
  background-color: #343131 !important;
}

/* This is the actual content. */
.wy-nav-content {
  /* background-color: #efefe0; */
  /* background-color: #e4e4e4; */
  background-color: #f0f0f0 !important;
}

/* For `parsed-literal` blocks.
 * Used when I need substitutions in code blocks. */
pre.literal-block {
  color: #1950a0 !important;
}

/* Inline code color. */
span.pre {
  /* color: #e74c3c; */ /* default */
  /* color: #2980b9; */
  color: #1950a0;
}

.rst-content p {
    /* font-size: 110%; */
}

/* Code block colors. */
div.highlight {
    background-color: #e0e4e8 !important;
    overflow-x: auto !important;
}

div.highlight-text {
    color: #1950a0;
}

.rst-content table.docutils td, .wy-table-bordered-all td {
  border-left-width: 2px;
  border-right-width: 2px;
}

.rst-content table.docutils th, .wy-table-bordered-all th {
  border-left-width: 2px !important;
  border-right-width: 2px !important;
}

/* Admonitions. */

div.example.admonition .admonition-title::before {
  display: none;
}

div.example.admonition p.admonition-title {
  background-color: #468 !important;
  font-style: italic !important;
}

/* Footnote styles. */

/* This gets rid of the annoying ":" between the footnote number and the content. */
html.writer-html5 .rst-content dl.field-list > dt::after, html.writer-html5 .rst-content dl.footnote > dt::after {
  content: none;
}

.rst-content .citation-reference, .rst-content .footnote-reference {
  top: -0.5em;
  left: -3px !important;
  /* color: #4080b0 !important; */
}

.rst-content table.docutils tr.row-odd {
  background-color: #d0d0d0;
}

/* Quotes. */
.pull-quote {
  border-left: 6px solid skyblue;
  padding-left: 6px;
  font-style: italic !important;
}

/* Collapsible sections. */

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▶\a\a";
    white-space: pre;
}

.toggle .header.open:after {
    content: " ▼\a\a";
    white-space: pre;
}

